<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="icon.png" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inder&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/main.css" />
    <title>Pokédex</title>
  </head>

  <body>
    <main>
      <!--SECTION 1-->
      <section class="section-input">
        <div class="header">
          <div class="menu">
            <ul class="menu__list">
              <li class="menu__list--item">
                <a
                  href="https://github.com/apintok/pokedex"
                  target="_blank"
                  class="menu__list--link"
                  >github</a
                >
              </li>
              <li class="menu__list--item">
                <a
                  href="https://pokeapi.co"
                  target="_blank"
                  class="menu__list--link"
                  >poekapi</a
                >
              </li>
              <li class="menu__list--item">
                <a
                  href="https://bulbapedia.bulbagarden.net/wiki/Main_Page"
                  target="_blank"
                  class="menu__list--link"
                  >bulbapedia</a
                >
              </li>
              <li class="menu__list--item">
                <a href="#" class="menu__list--link">info</a>
              </li>
            </ul>
          </div>

          <div class="input">
            <p class="input__description">
              In need of info about a pokemon? Search by its name or id and
              click catch. If too lazy to write just click random!
            </p>
            <form action="#" class="input__form">
              <input
                type="text"
                id="search"
                name="seach"
                id="name"
                placeholder="Name or ID"
                required
              />
              <button id="btn-find" class="btn">Catch</button>
              <button id="btn-random" class="btn">Random</button>
            </form>
          </div>
        </div>
      </section>
      <!--SECTION 2-->
      <section class="section-card">
        <div class="container"></div>
      </section>
    </main>

    <script src="js/bundle.js"></script>
  </body>
</html>
