.type-bug {
  border: 4px solid $color-bug;
  background-color: $color-bug;
}

.type-dark {
  border: 4px solid $color-dark;
  background-color: $color-dark;
}

.type-dragon {
  border: 4px solid $color-dragon;
  background-color: $color-dragon;
}

.type-electric {
  border: 4px solid $color-electric;
  background-color: $color-electric;
}

.type-fairy {
  border: 4px solid $color-fairy;
  background-color: $color-fairy;
}

.type-fighting {
  border: 4px solid $color-fighting;
  background-color: $color-fighting;
}

.type-fire {
  border: 4px solid $color-fire;
  background-color: $color-fire;
}

.type-flying {
  border: 4px solid $color-flying;
  background-color: $color-flying;
}

.type-ghost {
  border: 4px solid $color-ghost;
  background-color: $color-ghost;
}

.type-grass {
  border: 4px solid $color-grass;
  background-color: $color-grass;
}

.type-ground {
  border: 4px solid $color-ground;
  background-color: $color-ground;
}

.type-ice {
  border: 4px solid $color-ice;
  background-color: $color-ice;
}

.type-normal {
  border: 4px solid $color-normal;
  background-color: $color-normal;
}

.type-poison {
  border: 4px solid $color-poison;
  background-color: $color-poison;
}

.type-psychic {
  border: 4px solid $color-psychic;
  background-color: $color-psychic;
}

.type-rock {
  border: 4px solid $color-rock;
  background-color: $color-rock;
}

.type-steel {
  border: 4px solid $color-steel;
  background-color: $color-steel;
}

.type-water {
  border: 4px solid $color-water;
  background-color: $color-water;
}
